# Database
DATABASE_URL="postgresql://postgres:nawafonti5@localhost:5432/riah_aljalid"

# JWT
JWT_SECRET="my-super-secret-key-change-this-in-production"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddhcwmeeb
CLOUDINARY_API_KEY=932371978443144
CLOUDINARY_API_SECRET=IxHWzmSRBYw6cdUsR0iLriFD4B4

# Server
PORT=4000
FRONTEND_URL=http://localhost:3000
